@charset "UTF-8";
/* Tudo o que achar interresante irei anotar aqui (estou assistindo a aula do GustavoGuanabara no CursoEmVideo)

       backdrop-filter: blur(10px);              
        -webkit-backdrop-filter: blur(10px); 

        efeito de desfoque

    overflow: hidden;

    isso é tudo que estiver fora da borda 
    não irá aparecer
*/
/*
    Paleta de cores 
    #722770
    #955D94
    #DCC9DB
    #5f2c82
    #49a09d
*/
 .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
        }
    *{
        margin:0px;
        padding: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body{
           background-color: #CCC9DB;
           margin: 0px;
           height: 100vh;
           width: 100vw;
           background-image: url(../imagens/img-login.jpg.jpg);
           background-size: cover;
           background-position: center center;
           backdrop-filter: blur(10px);               /* efeito de desfoque */
         -webkit-backdrop-filter: blur(10px); 
    }
    main{
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    section#login{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        background-color: white;
        width: 260px;
        height: 517px;
        border-radius: 20px;
        
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.349);
        overflow: hidden;
    }
    section#login > div#imagem{
        display: block;
        background-image: url(../imagens/img-pqna.jpg.jpg);
        width: 260px;
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        backdrop-filter: blur(200px);               /* efeito de desfoque */
         -webkit-backdrop-filter: blur(200px); 
    }
    #formulario p {
        font-size: 0.8em;
        text-align: justify;
    }
    #formulario
    {   display: block;
        padding: 10px;
    }
    #formulario > h1{
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 5px;
    }
.campo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #6c3697;
    border-radius: 10px;
    overflow: hidden;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.campo label {
    background-color: #6c3697;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo .material-symbols-outlined {
    color: white;
    font-size: 2em;
}
div.campo > input:focus-within{
    background-color: white;
}
.campo input {
    width: 80%;
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: #94CFCD;
    color: #000;
    font-size: 1em;
    border-radius: 0 10px 10px 0;
   margin-top: 10px;
}

.campo input::placeholder {
    color: #333;
}


  label{
    display: block;
  }
    input[type=submit]{
        color: #6c3697;
        display: block;
        cursor: pointer;
          margin-bottom: 5px;
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 10px; 
        transition: background-color 0.4s ease; 
        font-size: 1em;
    }
    input[type=submit]:hover{
        background-color: #412764;
        transition: 0.4s;
        color: white;
      
    }


    input[type=password],input[type=email]{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 850%;
        color: white;
        border: none;
        font-size: 1em;
        margin-left: 7px;
        margin-bottom: 12px;
        transition: background-color 0.4s ease;
    }
    input[type=password]:hover,input[type=email]:hover{
    background-color:  rgba(77, 76, 76, 0.2);
    transition: 0.4s;
    }
   a{
        text-decoration: none;
        width: 100%;
        height: 40px;
        border-radius: 10px; 
        transition: background-color 0.4s ease,color 0.4s ease; 
         color: white;
        display: block;
        cursor: pointer;
      background-color: #9356e2;
        font-size: 1em;
        text-align: center;
        
   }
   a > span{

     font-size: large;
   }
   a:hover{
        color: #9356e2;
        background-color: white;
    
        border: 2px solid #9594cf;
   }

